.btn1{
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    background-color: green;
}
.btn2{
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    background-color: red;
}
.btn3{
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    background-color: blue;
}